<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="/styles/404.css">
</head>
<body>
    <h1>404</h1>
    <h2>You are nowhere.</h2>
    <h2>User <%= params.user %> has not been found in your data.</h2>
</body>
</html>