body {
    width: 100%;
}
body * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    margin-top: 10%;
    width: 100%;
    font-size: 1000%;
}
h2 {
    width: 100%;
    font-size: 200%;
}
