* {
    font-family: 'Prompt', sans-serif;
}
body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
#individualStatistics {
    width: 27%;
    margin-right: 3%;
}
.collapsible {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #eee;
    cursor: pointer;
    padding: 18px 0px;
    width: 100%
}
.title {
    margin-bottom: 0;
    font-size: 3em;
    font-weight: normal;
    width: 100%;
    display: flex;
    justify-content: center;
}
.subtitle {
    font-size: 2em;
}
div p {
    font-weight: normal;
    font-size: 20px;
}
#individualStatistics h2:nth-of-type(1) {
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    color: green;
}
#individualStatistics h3 {
    width: 100%;
    font-weight: normal;
    display: flex;
    text-align: center;
}
a {
    text-decoration: none;
    color: blue;
}
.active, .collapsible:hover {
    background-color: #bbb;
}
.userList {
    padding: 2% 5% 2% 5%;
    max-width: auto;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
#generalStatistics {
    width: 64%;
    height: auto;
    margin-left: 3%;
    margin-right: 3%;
}
#conversationTypesStatistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#conversationTypesStatistics > h2:nth-of-type(1) {
    width: 55%;
}
#conversationTypesStatistics .chart {
    width: 30%;
}
#messagesSentTime {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}
#messagesSentTime h2:nth-of-type(1) {
    width: 100%;
}
#messagesSentTime .chart {
    width: 70%;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
ul > li {
    width: 50%;
}
.olTitle {
    font-size: 28px;
}
.word {
    font-size: 23px;
    padding-left: 2em;
}
ol, ul {
    list-style-type: none;
}
.important {
    color: green;
}
#conversations p {
    width: 100%;
}
#conversations {
    display: flex;
    flex-wrap: wrap;
}
#conversations .chart {
    width: 100%;
    display: flex;
    justify-content: center;
}
#conversations canvas {
    max-width: 80%;
}
#upperNavigation * {
    font-size: 2em;
    margin: 0, normal, normal, normal;
}

#bottomNavigation a, #upperNavigation a {
    color: blue;
    text-decoration: none;
    font-size: larger;
    color: gray;
}
#bottomNavigation a:hover, #upperNavigation a:hover {
    color: black;
}
#bottomNavigation, #upperNavigation {
    width: 100%;
    display: flex;
    justify-content: center;
}
.warning {
    color: green;
    font-weight: normal;
}
#reactions {
    display: flex;
    flex-wrap: wrap;
}
#reactions p {
    width: 100%;
}
#reactions .short60 {
    width: 60%;
}
#reactions ol {
    width: 50%;
}
#reactions li {
    font-size: 20px;
}
#reactions .chart {
    width: 40%;
}